.infoBlock {
    width: 100%;
}

.infoTable {
    border-collapse: collapse;
    width: 95%;
}

.infoTable tr {
    border: 1px gray solid;
}

.infoTable td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.firstColumn {
    width: 80%;
}