.filmBlock {
    text-align: center;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border: 2px gray solid;
    justify-content: center;
    position: relative;
}

.filmBlock p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.block {
    text-align: -webkit-center;
    display: inline-block;
    width: 33%;
    min-height: 55vh;
    vertical-align: top;
    border-right: 2px gray solid;
    border-left: 2px gray solid;

}

.outer {
    min-height: 100vh;
}

.header {
    text-align: center;
    border-bottom: 2px gray solid;
    padding: 10px;
}

.header button {
    background-color: #ffa2a5;
    padding: 5px;
    border-radius: 5px;
}

.header button:hover {
    background-color: #ff898c;
    padding: 5px;
    border-radius: 5px;
}

.select {
    width: 80%;
    margin-bottom: 7px;
}
